html {

    overflow-y: hidden;

}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: powderblue;
}

.wrapper {
    background-color: powderblue;
    height: 100%;
}

.accordion__container {
    display: flex;
    flex-shrink: initial;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;

}

.accordion__container .accordion__body {
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
}

.accordion__container .accordion__body {
    display: flex;
    justify-content: center;
}

.accordion__container label {
    cursor: pointer;
    display: block;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    color: #3109e6;
    font-weight: 800;
    z-index: 100;
    font-size: 1.2em;
    margin-top: 0;
    transition: color .5s;
}

.accordion__container input {
    display: none;
}

.accordion__container label:before {
    display: block;
    content: '\276F';
    float: right;
}

.accordion__container input:checked+label {
    color: #000000;
}

.accordion__container input:checked+label:before {
    transition: transform .5s;
    transform: rotate(90deg);
}

.accordion__container input:checked+label+.accordion__body {
    height: auto;
    color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.accordion__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo {
    width: 50%;
}

.accordion__name {
    border-bottom: 0.3vh solid #3109e6;

}

.accordion__body {
    border-bottom: 0.3vh solid #3109e6;
    cursor: pointer;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

@media (hover: hover) {

    .accordion__container label:before {
        display: none;
        content: '\276F';
        float: right;
    }

    .accordion__container label:hover {
        color: #000000;
    }

    .accordion__container label:hover .accordion__body {
        display: block;
    }

    .accordion__container input:hover .accordion__body {
        display: block;
    }

    .accordion__container input:hover+label:before {
        transition: transform 0.5s;
        transform: rotate(90deg);
    }

    .accordion__container input:hover+label+.accordion__body {
        height: auto;
        color: #000;
        padding: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .accordion__container:hover {
        cursor: pointer;
    }

    .accordion__container:hover label:before {
        display: block;
        content: '\276F';
        float: right;
        cursor: pointer;
        color: #000000;
    }

    .accordion__container:hover label {

        color: #000000;
    }

}

@media screen and (max-width: 820px) {
    .accordion__container {
        width: 90%;
        margin: 0 auto;

    }

    .photo {
        width: 70%;
    }

    .accordion__container label {

        font-weight: 700;

        font-size: 1.3em;

    }

}


@media screen and (max-width: 320px) {
    .accordion__container {
        width: 98%;

    }

    .photo {
        width: 100%;
    }

    .accordion__container label {

        font-weight: 700;

        font-size: 1.1em;

    }

}